@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create font face for Montserrat-Regular.ttf */
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Create font face for SF-Pro-Display-Medium.ttf */
@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/SF-Pro-Display-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Create font face for Lato-Regular.ttf*/
@font-face {
    font-family: 'Lato';
    src: url("@/assets/fonts/Lato-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Create font face for Poppins-Regular.ttf */
@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Create font face for Inter-Medium.ttf */
@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Create font face for Inter-Bold.ttf */
@font-face {
    font-family: 'Inter Bold';
    src: url('@/assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Create font face for Inter-SemiBold.ttf */
@font-face {
    font-family: 'Inter SemiBold';
    src: url('@/assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('@/assets/fonts/Poppins-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
